{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "endOfLine": "lf",

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-packagejson"],

  "importOrder": [
    "^@nestjs/(.*)$",
    "^~(config|common|modules|shared|core|utils|types)/(.*)$",
    "^src/(.*)$",
    "",
    "^\\./(.*)$",
    "^\\.\\./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
